<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="BedFactory.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="BedFactory.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <applicationSettings>
        <BedFactory.Properties.Settings>
            <setting name="ValidationCheckMsg" serializeAs="String">
                <value>*표시는 필수입력사항입니다. 반드시 입력해주세요.</value>
            </setting>
            <setting name="InsertSuccess" serializeAs="String">
                <value>성공적으로 등록하였습니다.</value>
            </setting>
            <setting name="InsertFail" serializeAs="String">
                <value>등록에 실패하였습니다.</value>
            </setting>
            <setting name="UpdateSuccess" serializeAs="String">
                <value>성공적으로 수정하였습니다.</value>
            </setting>
            <setting name="UpdateFail" serializeAs="String">
                <value>수정에 실패하였습니다.</value>
            </setting>
            <setting name="DeleteSuccess" serializeAs="String">
                <value>성공적으로 삭제하였습니다.</value>
            </setting>
            <setting name="DeleteFail" serializeAs="String">
                <value>삭제에 실패하였습니다.</value>
            </setting>
        </BedFactory.Properties.Settings>
    </applicationSettings>
    <userSettings>
        <BedFactory.Properties.Settings>
            <setting name="ValidationCheckCaption" serializeAs="String">
                <value>필수 입력사항 체크</value>
            </setting>
        </BedFactory.Properties.Settings>
    </userSettings>
</configuration>